<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Bank Note Authentication</title>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>

<body>
 <div class="login">
	<h1>Predict Bank Note Authentication</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict_note_authentication2')}}"method="POST">
		
		<input type="text" name="variance" placeholder="Variance" required="required" /><br>
    	<input type="text" name="skewness" placeholder="Skewness" required="required" /><br>
        <input type="text" name="curtosis" placeholder="Curtosis" required="required" /><br>
        <input type="text" name="entropy" placeholder="Entropy" required="required" /><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
		
    </form>

   <br>
   <br>
  
   
 </div>
 
 <p> {{pred}} </p>

</body>
</html>
